body{
    background-image: url(../styles/images/saiba-quais-sao-as-ferramentas-que-nao-podem-faltar-na-sua-casa.jpg);
    background-repeat: repeat;
    background-size: 100%;
}

.conserto{
    text-align: center;
    background-color: rgba(218, 211, 18, 0.608);
    height: 200px;
    width: 350px;
    border: solid 1px;
}
.contato{
    background-color: black;
    width: 350px;
    text-align: center;
    
}
.contato>h1{
    color: white;
}
